
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userprefs
*.lock.json
*.db
*.db-shm
*.db-wal
appsettings.Development.json
appsettings.Production.json
*.pdb
*.exe
*.dll
*.cache
*.log
.nuget/
packages/
*.nupkg
launchSettings.json
.env
.env.local
